<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by settings.collections_items_number %}

{% include 'breadcrumb' %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}


{% if collection.image %}
  <img class="hero-img" sizes="(max-width: 1200px) 100vw, 1140px" srcset="{{ collection.image.src | img_url: 'large' }} 480w, {{ collection.image.src | img_url: 'grande' }} 600w, {{ collection.image.src | img_url: 'master' }} 1440w">
{% endif %}

{% comment %}
  Different markup if a collection description exists

  {% if collection.description != blank %}
    <header class="section-header">
      <h1 class="section-header__title">{{ collection.title }}</h1>
      <div class="rte rte--header">
        {{ collection.description }}
      </div>
    </header>
    <hr>
    <div class="section-header">
      <div class="section-header__right">
        {% include 'collection-sorting' %}
      </div>
    </div>
  {% else %}
    <header class="section-header">
      <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
      <div class="section-header__right">
        {% include 'collection-sorting' %}
      </div>
    </header>
  {% endif %}
{% endcomment %}

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform collection-list">

  {% comment %}
    Loop through our products in the current collection.
    See the snippet 'product-grid-item' for the layout.
  {% endcomment %}
  {% for product in collection.products %}

    {% assign grid_item_width = 'medium--one-half large--one-third x-large--one-quarter x-large-up--one-quarter' %}
    {% include 'product-grid-item' %}

  {% else %}

    {% if collection.handle == 'all' %}

      {% comment %}
        Add default products to help with onboarding for collections/all only
      {% endcomment %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}
      {% include 'onboarding-empty-collection' %}

    {% else %}

      {% comment %}
        If collection exists but is empty, display message
      {% endcomment %}
      <div class="grid__item">
        <p>{{ 'collections.general.no_matches' | t }}</p>
      </div>

    {% endif %}

  {% endfor %}

  

</div>

{% if paginate.pages > 1 %}
  <hr>
  <div class="pagination">
    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
  </div>
{% endif %}

{% endpaginate %}
